* {
  margin: 0;
  font-family: "roboto";
  outline: none !important;
  user-select: none;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.text {
  background-color: #eeeeee;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: justify;
  cursor: default;
  filter: blur(4px) brightness(0.25);
  transform: scale(1.1);
}

.box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 4px;
  margin-left: 100px;
  z-index: 1;
}

.error {
  padding: 8px;
  background-color: #cc0000;
  color: white;
  border: 2px solid #bb0000;
  margin: 2px;
  width: auto;
}

.pane {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

h1 {
  color: white;
  font-size: 80px;
  cursor: default;
}

p {
  color: #111111;
  font-size: 20px;
}

h2 {
  color: white;
  font-size: 20px;
}

button, input[type="submit"] {
  padding: 8px;
  font-size: 20px;
  background: none;
  border: #dddddd solid 2px;
  border-radius: 0px;
  color: #dddddd;
  outline: none;
  margin: 2px;
  transition: 0.25s border, 0.25s color, 0.25s background;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover, input[type="submit"]:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
  background: rgba(255,255,255,0.1);
}

button:active, input[type="submit"]:active {
  border: 2px solid #eeeeee;
  color: #eeeeee;
  background: rgba(255,255,255,0.25);
}

button:disabled, input[type="submit"]:disabled {
  border: 2px solid #ffffff;
  color: #ffffff;
  background: rgba(255,255,255,0.1);
  cursor: not-allowed;
}

input[type="text"], input[type="password"] {
  padding: 8px;
  font-size: 20px;
  background: none;
  border: #dddddd solid 2px;
  border-radius: 0px;
  color: #dddddd;
  outline: none;
  margin: 2px;
  transition: 0.25s border, 0.25s color, 0.25s background;
}

input[type="text"]:focus, input[type="password"]:focus {
  border: 2px solid #ffffff;
  color: #ffffff;
  background: rgba(255,255,255,0.1);
}
